* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black; 
    color: white; 
}

.gallery {
    display: block;
}


.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    min-height: 100vh; 
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}


.slide.small {
    min-height: auto;
    height: auto;
    padding: 0;
}

.slide.small img {
    width: auto;
    max-width: 100%; 
    height: auto;
}


@media (max-width: 768px) {
    .gallery {
        display: block;
    }

    .slide {
        min-height: 100vh;
        height: 100vh; 
    }

    .slide img {
        width: 100vw;
        height: 100vh; 
        object-fit: cover;
    }
}
